@page "/categorys/{Id:int}"
@rendermode InteractiveServer
@using DataTransferObjects.Categorys
@using Services.Categorys
@inject ICategorysService CategoryService
@inject NavigationManager NavigationManager

<h3>Category Details</h3>

@if (category == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        @if(@category.Name is not null){
            <dd class="col-sm-9">@category.Name</dd>
        }
        else
        {
            <dd class="col-sm-9">None</dd>
        }
        <dt class="col-sm-3">ParentCategoryId</dt>
        @if(@category.ParentCategoryId is not null)
        {                    
            <dd class="col-sm-9">@category.ParentCategoryId</dd>
        }else{
            <dd class="col-sm-9">None</dd>
        }
        <dt class="col-sm-3">ParentCategory</dt>
        @if(@category.ParentCategoryId is not null)
        {                    
            <dd class="col-sm-9"><a href="/Categorys/@category.ParentCategoryId">link</a></dd>
        }else{
            <dd class="col-sm-9">None</dd>
        }




    </dl>
    <div>
        <button class="btn btn-primary" @onclick="Save">Save</button>
        <button class="btn btn-secondary" @onclick="BackToList">Back to List</button>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private CategoryViewModel? category;

    protected override async Task OnParametersSetAsync()
    {
        category = await CategoryService.GetByIdAsync(Id);
    }

    private void Save()
    {
        throw new NotImplementedException("Save functionality is not implemented.");
    }

    private void BackToList()
    {
        NavigationManager.NavigateTo("/categorys");
    }
}
